/* fonts style link from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
/* shared styles */
.pink-clr {
   color: #ff42a5;
}

.common-pera {
   color: #534c64;
   font-size: 12px;
   font-weight: 400;
}

/* body section */
body {
   font-family: "Work Sans", sans-serif;
}

/* nav section */
.nav {
   height: 100px;
   width: 100%;
   box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.left-navigation {
   display: flex;
   align-items: center;
}

.left-navigation img {
   width: 80px;
   height: 40px;
   padding-right: 20px;
   padding-left: 140px;
}

.right-navigation {
   padding-right: 140px;
}

.right-navigation ul {
   display: flex;
}

.right-navigation li {
   list-style: none;
   padding-right: 20px;
}

.right-navigation a {
   text-decoration: none;
   color: #3c354f;
   font-size: 15px;
   font-weight: 500;
}

.nav-border {
   border-radius: 8px;
   background: rgba(11, 2, 35, 0.1);
   padding: 20px 125px;
}

/* banner section */
.banner {
   display: flex;
   justify-content: space-around;
   background: url("../images/Group\ 14.png");
   background-repeat: no-repeat;
   background-size: 50%;
}

.banner-description {
   width: 800px;
   height: 600px;
   margin-top: 100px;
   padding-left: 140px;
}

.sign-in-btn {
   color: #fff;
   font-size: 15px;
   font-weight: 600;
   text-transform: uppercase;
   border: none;
   border-radius: 30px;
   padding: 10px 25px;
   background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
   margin-right: 17px;
}

.go-rogue-btn {
   color: #fff;
   font-size: 15px;
   font-weight: 600;
   text-transform: uppercase;
   border: none;
   border-radius: 30px;
   padding: 10px 25px;
   background: #4ec5f7;
   background: #4ec5f7;
   gap: 5px;
}

.play-title {
   color: #0b0223;
   font-size: 35px;
   font-weight: 600;
}

.goat-title {
   font-size: 65px;
   font-weight: 800;
   background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.banner-img img {
   height: 530px;
   margin-right: 15px;
   padding-right: 20px;
}

/* about section */
.about-section-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 400px;
}

.about-section-img img {
   width: 580px;
   height: 350px;
   padding-left: 140px;
}

.about-section-content {
   text-align: center;
   align-items: center;
   padding-right: 150px;
}

.about-section-headings {
   font-size: 35px;
   font-weight: 700;
   background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   float: right;
   margin-bottom: 0;
}

.about-section-title {
   width: 400px;
   color: #534c64;
   font-size: 15px;
   font-weight: 400;
   float: right;
}

.about-section-btn {
   color: #fff;
   font-size: 15px;
   font-weight: 700;
   text-transform: uppercase;
   border: none;
   border-radius: 30px;
   margin: 5px 0;
   padding: 10px 25px;
   background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
   float: right;
}
/* card section */

.card-section {
   text-align: center;
}
.card-section-style {
   font-size: 25px;
   font-weight: 700;
   background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

/* .card-section-headings p {
   color: #534c64;
   font-size: 12px;
   font-weight: 400;
} */

.card-section-container {
   display: flex;
   padding-left: 150px;
}

.card-section-container .card {
   border-radius: 16px;
   margin-right: 15px;
}

.card-section-container img {
   width: 230px;
   height: 280px;
}

/* aside section */
.aside-section {
   display: flex;
   float: right;
   align-items: center;
   margin-top: 50px;
}

.aside-section-headings {
   color: #0b0223;
   font-size: 35px;
   font-weight: 700;
   padding-right: 150px;
}

.aside-section-img {
   padding-right: 200px;
}

.aside-section-img .first-img {
   width: 400px;
   height: 400px;
}

.aside-section-img .secound-img {
   width: 218.5px;
   height: 265px;
   border-radius: 8px;
   border: 10px solid #fff;
   background: url(<path-to-image>),
      lightgray 0px -0.304px / 100% 117.229% no-repeat;
}




/* responsive styles */
/* mobile devices */
@media screen and (max-width: 576px) {
   body {
      padding: 0;
      margin: 0;
   }
   .nav {
      flex-direction: column;
      width: 100%; 
   }

   .right-navigation ul {
      flex-direction: column;
   }
   .banner {
      flex-direction: column;
      padding-left: 0;
      text-align: center;
      width: 100%;
   }
   .banner-img img {
      margin-top: 30%;
      width: 100%;
      padding-left: 100px;
   }
   .banner-description {
      width: 100%;
   }
   .about-section-container {
      flex-direction: column;
   }
   .about-section-img img{
      width: 100%;
      padding-left: 0;
   }
   .card-section-headings p{
      padding-top: 10px;
      padding-bottom: 10px;
      overflow-wrap: break-word;
      border: 2px solid red;
   }
   .card-section-container{
      flex-direction: column;
      padding-left: 0;
   }

   .card-section .card{
      padding-top: 5px;
   }

.banner-img img {
      height: 530px;
      margin-right: 15px;
}